@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
  .container {
    padding: 20px;
  }
  
  .yearButton, .patentButton {
    display: block;
    width: 100%;
    text-align: left;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .content {
    display: none;
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .table-container {
    margin-top: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #2c5f87;
    color: white;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-7px);
    }
  }
  
  .animate-bounce {
    animation: bounce 1s infinite;
  }
  
  